body {


	
	background-color: lightgrey;
	font-family: Quicksand;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 17px;
}

#testoinserito  {


font-style: normal;
font-weight: normal;
font-family: Quicksand; 
font-size: 14px;



}





#titolo {text-align: center;
         margin-top: 60px;
         margin-bottom: 50px;
         font-size: 25px;



}


#immagini { width: 1000px; }




#immagini img {

	width: 200px;
	height: 200px;
	
	margin-left: 150px;
	margin-right: 50px;
	margin-top: 45px;

    border-radius: 50%;
    float: left;
    
  

}




#immagini p{

    
	padding-top: 130px;

	
}




#par1 {

    
	clear: both;
	
}


#par2 {

	clear: both;
}

#par3 {

	clear: both;
}

#par4 {

	clear: both;
}

#par5 {

	clear: both;


}





#par1 img:hover 
{
	width: 250px;
    height: 250px;

    
}
#par2 img:hover 
{
	width: 250px;
    height: 250px;
    
}
#par3 img:hover 
{
	width: 250px;
    height: 250px;

    
}
#par4 img:hover 
{
	width: 250px;
    height: 250px;
    
}
#par5 img:hover 
{
	width: 250px;
    height: 250px;
    
}



